DATABASE_URL='this_is_a_database_connection_string'
JWT_SECRET = 'this_is_a_secret_key_for_jwt_token_generation'
JWT_EXPIRES_IN = '7d'
DATABASE_CA_CERT="-----BEGIN CERTIFICATE-----
certificate content here
-----END CERTIFICATE-----
"
